requests==2.32.0
Pillow==10.3.0
BeautifulSoup4==4.12.3
duckduckgo_search==3.9.3 # 4.2
cryptography==42.0.5
PySide6==6.7.0
aiohttp==3.9.4
opencv-python==4.9.0.80
brotli==1.1.0
zstandard==0.22.0
py7zr==0.21.0
pillow_heif==0.15.0
numpy==1.26.4
speedtest-cli==2.1.3
windows-toasts==1.1.1; os_name == 'nt'
argon2-cffi==23.1.0
pqcrypto==0.1.3 # Only until a standardized version is released
