name: CI Test

on: [push, pull_request]
permissions:
  contents: write
jobs:
  build:
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [macos-latest, ubuntu-latest, windows-latest]
        python-version: ['3.10', '3.11', '3.12', '3.13']

    steps:
    - name: Checkout code
      uses: actions/checkout@v3  # Updated to v3

    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v4  # Updated to v4
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install pytest
      run: |
        python -m pip install --upgrade pip
        pip install pytest

    - name: Install aplustools with all optional dependencies
      run: |
        pip install -e '.[all]'

    - name: Prepare test_data directory (macOS/Linux)
      if: runner.os != 'Windows'
      run: |
        DIR=test_data
        if [ -d "$DIR" ]; then
          echo "Clearing directory $DIR..."
          rm -rf "$DIR"
        fi
        echo "Creating directory $DIR..."
        mkdir "$DIR"

    - name: Prepare test_data directory (Windows)
      if: runner.os == 'Windows'
      run: |
        $dir = "test_data"
        if (Test-Path $dir) {
          Write-Host "Clearing directory $dir..."
          Remove-Item -Recurse -Force $dir
        }
        Write-Host "Creating directory $dir..."
        New-Item -ItemType Directory -Force -Path $dir

    - name: Install package
      run: |
        pip install -e .[dev]

    - name: Run tests
      run: |
        echo "Running tests with coverage..."
        coverage run -m pytest src/aplustools/tests
        coverage report
        coverage json -o coverage.json
        echo "Tests completed."

    - name: Generate coverage badge
      run: |
        python scripts/generate_coverage_badge.py

    - name: Commit badge
      if: github.ref == 'refs/heads/main'
      run: |
        git config --global user.name "github-actions"
        git config --global user.email "github-actions@github.com"
        git add coverage-badge.svg
        git diff --cached --quiet && echo "No changes to commit" || (
          git commit -m "Update coverage badge"
    
          git remote set-url origin https://x-access-token:${GITHUB_TOKEN}@github.com/${{ github.repository }}
          git push origin HEAD
        )
